
*
{

margin:0;
padding:0;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;
}


body{
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
h5{
  color:#33a0ee;
}
.container{
  position: relative;
  width: 100%;
  max-width: 1000px;
  background: white;
  margin: 50px;
  box-shadow: 0 50px 75px rgba(0, 0,0, 0.1);
  border-left: 50px solid white;
  border-right: 50px solid white;

  }

  .container .top{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 40px;
    padding-bottom: 0;
    color:white ;
  }

  
  .container .top .proImg{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;

  }

 .container .top .proImg .box {
  position: relative;
  width: 50%;
  min-width: 200px;
  border-radius: 50%;
  overflow: hidden;
  aspect-ratio: 1;
 }
 .container .top .proImg .box img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;

 }

 .container .top .profileName{
  position: relative;
  padding: 40px;
  display: flex;
  align-items: center;
   color: #e3e3e3;

 }

 .container .top .profileName h4{
  font-size: 3em;
  line-height: 1.2em;
  font-weight: 600;
  color: white;
  

 }

 .container .top .profileName h4 span{
  position: relative;
  font-size: 0.5em;
  font-weight: 300;
  top: -10px;
 }
 
 .container .content {
  position: relative;
  min-height: 500px;
  display: grid;
  grid-template-columns: 1fr 2fr ;
  padding: 0.4px 40px;
 }

 .container .content h4{
  border-left: 4px solid pink;
  padding-left: 10px;
  line-height: 1em;
  font-weight: 600;
  color: black;
  letter-spacing: 0.1em;
  margin-bottom: 20px;
  margin-top: 50px  ;
 }

 .container .content ul{
  position: relative;
  margin: 25px 0;
  padding: 0;
 }

 .container .content ul li{
  list-style: none;
  margin: 25px 0;
  line-height: 1em;
  color: #333;
  cursor: pointer;
  display: flex;
 }

 .container .content ul li ion-icon
 {
  font-size: 1.2em;
  margin-right: 10px;
  color: #33a0ee;
 } 


.container .content ul.education li{
  flex-direction: column;
  margin: 25px 0;
  
}

h6{
  color:rgb(46, 131, 165) ;
}

.languge li {
  flex-direction: column;

}

.languge li span{
  color: black;
  font-size: 16px;
  
}

.languge .percent{
  position: relative;
  width: 100%;
  color: gray;
  height: 6px;
  margin-top: 15px;
  margin-bottom: 10px;
  display: block;
  overflow: hidden;


}
.languge .percent div{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: #3590d2;

}

.container .content ul.interest{
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;

}

.container .content ul.interest li{
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 20px 0;
  }

p{
  font-style: 300;

}

.rightSide {
  padding-left: 40px;
}

.about .experinceBox{
  display: flex;
  flex-direction: row;
  margin: 20px 0;
}

.about .experinceBox .yearsCompany{
  min-width: 150px;
  margin: 10px;
}

.about .experinceBox .yearsCompany h5{
  color:#3590d2;
  font-weight: bold;
  
}


.skills .box {

  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: 150px 1fr;
  justify-content: center;
  align-items: center;
}


.skills .box h4{
  color: #333;
  font-weight: bold;
  margin-bottom: 5px;
}

.skills .box .percent{
  position: relative;
  width: 100%;
  height: 10px;
  background: #e3e3e3;

}

.skills .box .percent div{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: #3590d2;
}


*h5{
  font-weight: bold;
  color:  #3590d2;
}



.top{
  background-color:rgb(49, 48, 48);
  width: 100%;
}

.h5{
  font-weight: bold;
}


 h5{
  font-weight: bold;
  color:  #3590d2;
  
}